@import 'bootstrap/dist/css/bootstrap.min.css';
@import '~antd/dist/antd.css';

body {
  background-color: #f3f4f6;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.page {
  margin-top: 100px;
  padding-bottom: 50px;
}

.btn-check:active+.btn-primary:focus,
.btn-check:checked+.btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: none !important;
}

hr:not([size]) {
    height: .5px !important;
    border: none;
    background: #bdbdbf;
}

.ant-modal .ant-modal-content {
  border-radius: 6px !important;
  overflow: hidden;
}

.ant-modal .ant-modal-content .ant-modal-title {
  font-size: 22px;
}