.postBox {
  border-radius: 6px;
  background: #fff;
  margin-bottom: 25px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
}

.postBox .postHead {
  padding: 20px 20px 35px;
}

.postBox .postOptions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.postBox .postOptions .postInfo {
  display: flex;
  align-items: center;
}

.postBox .postOptions .postInfo .imgPlace {
  border-radius: 50%;
  overflow: hidden;
  width: 48px;
  height: 48px;
  margin-right: 10px;
}

.postBox .postOptions .postInfo .namePlace {
  display: flex;
  flex-direction: column;
}

.postBox .postOptions .postInfo .namePlace a {
  font-weight: 600;
  font-size: 16px;
  color: #00B488;
}

.postBox .postOptions .postInfo .namePlace .postTime {
  display: flex;
  align-items: center;
  color: #717f91;
  font-size: 14px;
}

.postBox .postOptions .postInfo .namePlace .postTime svg {
  width: 18px;
}

.postBox .postOptions .postInfo .namePlace .postTime span {
  margin-left: 5px;
}

.postBox .postOptions .postActions .dropdown-menu {
  padding: 0.25rem;
  border: none;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
}

.postBox .postOptions .postActions .dropdown-menu .dropdown-item {
  padding: 0.5rem;
  border-radius: 6px;
  display: flex;
  align-items: center;
}

.postBox .postOptions .postActions .dropdown-menu .dropdown-item svg {
  color: #9ca3af;
  width: 22px;
}

.postBox .postOptions .postActions .dropdown-menu .dropdown-item:hover svg {
  color: #6b7280;
}

.postBox .postOptions .postActions .dropdown-menu .dropdown-item span {
  margin-left: 10px;
  font-size: 15px;
}

.postBox .postOptions .postActions .dropdown-menu .dropdown-item:hover,
.postBox .postOptions .postActions .dropdown-menu .dropdown-item:focus,
.postBox .postOptions .postActions .dropdown-menu .dropdown-item:active {
  background-color: #f3f4f6;
  color: #333;
}

.postBox .postOptions .postActions button {
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  padding: 0;
  justify-content: center;
  border-radius: 50%;
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  color: #9ca3af;
}

.postBox .postOptions .postActions button svg {
  width: 26px;
}

.postBox .postOptions .postActions .dropdown.show button,
.postBox .postOptions .postActions button:hover {
  background-color: #e5e7eb;
  color: #4b5563;
}

.postBox .postOptions .postActions button:after {
  display: none;
}

.postBox .postBody p {
  margin: 0;
  font-size: 15px;
  margin-bottom: 10px;
  white-space: pre-line;
}

.postBox .postBody img {
  width: 100%;
  border-radius: 6px;
  margin-top: 10px;
}

.postBox .postFooter {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(113, 127, 145, 0.2);
}

.postBox .postFooter .actionBox {
  width: 100%;
  text-align: center;
  border-right: 1px solid rgba(113, 127, 145, 0.2);
  color: #717f91;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.postBox .postFooter .actionBox button {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 16px 16px 13px;
  border: none;
  background: 0 0;
  color: #717f91;
  outline: 0;
  position: relative;
  font-weight: 600;
  font-size: 14px;
}

.postBox .postFooter .actionBox button.like,
.postBox .postFooter .actionBox button.like h6 {
  color: #FC5D78;
}

.postBox .postFooter .actionBox button:before {
  content: "";
  display: block;
  width: 50%;
  height: 30px;
  background: #fff;
  position: absolute;
  top: -17px;
}

.postBox .postFooter .actionBox:nth-child(1) button:before {
  width: 31%;
}

.postBox .postFooter .actionBox:nth-child(3) button:before {
  width: 37%;
}

.postBox .postFooter .actionBox:nth-child(3) {
  border: none;
}

.postBox .postFooter .actionBox button h6 {
  position: absolute;
  top: -10px;
  font-size: 14px;
  margin: 0;
  font-weight: 600;
  color: #717f91;
}

.postBox .postFooter .actionBox button .countIcon {
  display: flex;
  align-items: center;
}

.postBox .postFooter .actionBox button .countIcon svg {
  width: 22px;
}

.postBox .postFooter .actionBox button .countIcon .countNum {
  margin-left: 8px;
}

.createPost {
  padding-bottom: 35px !important;
}

.createPost.userInfo {
  padding: 20px;
}

.createPost form {
  display: flex;
}

.createPost .imgPlace {
  border-radius: 50%;
  overflow: hidden;
  max-width: 48px;
  max-height: 48px;
  min-width: 48px;
  min-height: 48px;
  margin-right: 10px;
}

.createPost .imgPlace img {
  width: 100%;
}

.createPost .postBody {
  width: 100%;
}

.createPost .postBody textarea {
  background: #f3f4f6;
  border: none;
  border-radius: 6px;
  resize: none;
  width: 100%;
  padding: 10px;
  height: 50px;
  min-height: 50px;
  max-height: 200px;
  outline: none;
  transition: .3s ease-in-out;
}

.createPost button.addPost {
  background: #00B488;
  color: #fff;
  border: none;
  position: absolute;
  right: 21px;
  bottom: -15px;
  padding: 5px 30px;
  border-radius: 50px;
  border: 4px solid #f3f4f6;
  transition: .3s ease-in-out;
}

.createPost button.addPost:hover {
  background: #01a078;
  transition: .3s ease-in-out;
}

.createPost button:disabled {
  background: #808080 !important;
}

.createPost .postBody textarea.bodyStyleClass {
  height: 150px;
  transition: .3s ease-in-out;
}

.createPost .custImg {
  margin-top: 5px;
}

.createPost .custImg input#postImg {
  display: none;
}

.createPost .custImg label {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  color: #45BD62;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  transition: .3s ease-in-out;
  padding: 5px 10px;
  border-radius: 6px;
}

.createPost .custImg label:hover {
  background: #f3f4f6;
  transition: .3s ease-in-out;
}


.createPost .custImg label svg {
  width: 25px;
}

.createPost .custImg label span {
  color: #333;
  margin-left: 10px;
}

.createPost .custImg .previewImg {
  margin-top: 10px;
  border: 2px solid #f3f4f6;
  border-radius: 6px;
  padding: 10px;
}

.createPost .custImg .previewImg img {
  width: 100%;
  border-radius: 6px;
}

.editPostModal textarea {
  min-height: 300px;
  margin-bottom: 20px;
  outline: none !important;
  box-shadow: none !important;
}

.editPostModal img {
  width: 100%;
  margin-top: 20px;
  border-radius: 6px;
}

.editPostModal .footerActions {
  margin-top: 20px;
  text-align: right;
}

.editPostModal .footerActions button {
  margin-left: 15px;
}

.ant-btn {
  width: 100px;
  border-radius: 50px;
}

.ant-btn.ant-btn-primary {
  background: #00B488;
  border-color: #00B488;
}

.ant-btn.ant-btn-default:hover {
  color: #00B488;
  border-color: #00B488;
}