.userInfo {
    border-radius: 6px;
    background: #fff;
    margin-bottom: 50px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    position: relative;
}

.userInfo .userIntroActions {
    display: flex;
    justify-content: end;
    margin-bottom: 20px;
}

.userInfo .userIntroActions .userAuth {
    display: flex;
}

.userInfo .userIntroActions .userAuth a,
.userInfo .userIntroActions .userAuth button {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px dashed #2522BA;
    color: #2522BA;
}

.userInfo .userIntroActions .userAuth a {
    margin-right: 10px;
}

.userInfo .userIntroActions .userAuth button {
    background-color: transparent;
}

.userInfo .userIntroActions h4 {
    background: #2522BA;
    color: #fff;
    border-radius: 0 50px 50px 0;
    padding: 7px 20px;
    position: absolute;
    left: -5px;
    font-size: 17px;
}

.userInfo .userIntro .about {
    text-align: center;
    font-size: 16px;
    margin: 10px 0 20px;
}

.userInfo .userListInfo {
    font-size: 16px;
}

.userInfo .userListInfo .userImg {}

.userInfo .userListInfo .userImg img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.userInfo .userListInfo svg {
    color: #333;
    margin-right: 10px;
}

.userInfo .userListInfo div {
    margin: 10px 0;
    display: flex;
    align-items: center;
    font-weight: 600;
    color: #2522BA;
}

.userInfo .userListInfo div span {
    margin-right: 5px;
    font-weight: 400;
    color: #333;
}

.profileHeader {
    border-radius: 6px;
    background: #fff;
    margin-bottom: 50px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    display: flex;
    align-items: center;
}

.profileHeader .headImg {
    margin-right: 20px;
}

.profileHeader .headImg img {
    width: 168px;
    height: 168px;
    border-radius: 50%;
    overflow: hidden;
}

.profileHeader .headUserInfo h2 {
    margin: 0;
    font-weight: 600;
    margin-bottom: 10px;
}

.profileHeader .headUserInfo .about p {
    margin: 0;
    font-size: 17px;
}

.profileHeader .headUserInfo h2 span {
    font-weight: 300;
}

/* .profileHeader .headImg {} */