.userInfo {
    border-radius: 6px;
    background: #fff;
    margin-bottom: 50px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
    position: relative;
}

.userInfo .userIntro {
    padding: 20px;
    border-bottom: 1px solid #f3f4f6;
}

.userInfo .userIntroActions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userInfo .userIntroActions .userAuth {
    display: flex;
}

.userInfo .userIntroActions .userAuth .dropdown .dropdown-menu {
    padding: 0.25rem;
    border: none;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
}

.userInfo .userIntroActions .userAuth .dropdown .dropdown-menu .dropdown-item {
    padding: 0.5rem;
    border-radius: 6px;
    display: flex;
    align-items: center;
}

.userInfo .userIntroActions .userAuth .dropdown .dropdown-menu .dropdown-item:hover svg {
    color: #6b7280;
}

.userInfo .userIntroActions .userAuth .dropdown .dropdown-menu .dropdown-item svg {
    width: 22px;
    color: #9ca3af;
}

.userInfo .userIntroActions .userAuth .dropdown .dropdown-menu a.dropdown-item span,
.userInfo .userIntroActions .userAuth .dropdown .dropdown-menu button.dropdown-item span {
    margin-left: 10px;
    font-size: 15px;
}

.userInfo .userIntroActions .userAuth .dropdown .dropdown-menu .dropdown-item:hover,
.userInfo .userIntroActions .userAuth .dropdown .dropdown-menu .dropdown-item:focus,
.userInfo .userIntroActions .userAuth .dropdown .dropdown-menu .dropdown-item:active {
    background-color: #f3f4f6;
    color: #333;
}

.userInfo .userIntroActions .userAuth .dropdown button.dropdown-toggle {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: center;
    border-radius: 50%;
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    color: #9ca3af;
}

.userInfo .userIntroActions .userAuth .dropdown button.dropdown-toggle svg {
    width: 26px;
}

.userInfo .userIntroActions .userAuth .dropdown.show button.dropdown-toggle,
.userInfo .userIntroActions .userAuth button.dropdown-toggle:hover {
    background-color: #e5e7eb;
    color: #4b5563;
}

.userInfo .userIntroActions .userAuth .dropdown button.dropdown-toggle::after {
    display: none;
}

.userInfo .userIntroActions .userAuth button {
    background-color: transparent;
}

.userInfo .userIntroActions h4 {
    margin: 0;
}

.userInfo .userIntro .about {
    text-align: center;
    font-size: 16px;
    margin: 10px 0 20px;
}

.userInfo .userListInfo {
    font-size: 16px;
    padding: 10px 0;
}

.userInfo .userListInfo .userImg img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.userInfo .userListInfo svg {
    color: #333;
    margin-right: 10px;
}

.userInfo .userListInfo div {
    padding: 5px 20px;
    display: flex;
    align-items: center;
    font-weight: 500;
    color: #00B488;
}

.userInfo .userListInfo div svg {
    width: 22px;
    color: #9ca3af;
}

.userInfo .userListInfo div span {
    margin-right: 5px;
    font-weight: 400;
    color: #333;
}

.profileHeader {
    border-radius: 6px;
    background: #fff;
    margin-bottom: 50px;
    padding: 20px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
    display: flex;
    align-items: center;
}

.profileHeader .headImg {
    margin-right: 20px;
}

.profileHeader .headImg img {
    width: 168px;
    height: 168px;
    border-radius: 50%;
    overflow: hidden;
}

.profileHeader .headUserInfo h2 {
    margin: 0;
    font-weight: 600;
    margin-bottom: 10px;
}

.profileHeader .headUserInfo .about p {
    margin: 0;
    font-size: 17px;
}

.profileHeader .headUserInfo h2 span {
    font-weight: 300;
}

/* Chat Page */
.chat.page {
    height: 100vh;
    padding-top: 75.88px;
    padding-bottom: 0;
    display: flex;
    margin-top: 0;
}

.chat .chatWrapper {
    display: flex;
    height: 100%;
}

.chat .chatWrapper .conversations {
    min-width: 350px;
    max-width: 350px;
    border-left: 1px solid rgba(113, 127, 145, 0.2);
    border-right: 1px solid rgba(113, 127, 145, 0.2);
}

.chat .chatWrapper .conversations .convSearch {
    position: relative;
    display: flex;
    align-items: center;
}

.chat .chatWrapper .conversations .convSearch svg {
    position: absolute;
    width: 22px;
    left: 20px;
    color: #9ca3af;
}

.chat .chatWrapper .conversations .convSearch input {
    width: 100%;
    padding: 25px 20px;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(113, 127, 145, 0.2);
    outline: none;
    padding-left: 50px;
    z-index: 1;
}

.chat .chatWrapper .conversations .convPeople {
    overflow-y: auto;
    height: calc(100% - 73px);
}

.chat .chatWrapper .messages .messagesHead {
    display: flex;
    align-items: center;
    padding: 11px 20px;
    border-bottom: 1px solid rgba(113, 127, 145, 0.2);
}

.chat .chatWrapper .messages .messagesHead .userPhoto {
    margin-right: 10px;
}

.chat .chatWrapper .messages .messagesHead .userPhoto img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.chat .chatWrapper .messages .messagesHead .userInfo {
    margin: 0;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    width: 100%;
}

.chat .chatWrapper .messages .messagesHead .userInfo h6 {
    margin-bottom: 3px;
}

.chat .chatWrapper .messages .messagesHead .userInfo span {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 12px;
}

.chat .chatWrapper .messages .messagesHead .userInfo span:before {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    left: 0;
}

.chat .chatWrapper .messages .messagesHead .userInfo span.online:before {
    background: #00B488;
}

.chat .chatWrapper .messages .messagesHead .userInfo span.offline:before {
    background: #fa3048;
}

.chat .chatWrapper .messages {
    width: 100%;
    border-right: 1px solid rgba(113, 127, 145, 0.2);
    position: relative;
}

.chat .chatWrapper .messages .noCurrentChat {
    position: absolute;
    top: 44%;
    /* left: 50%; */
    font-size: 34px;
    width: 100%;
    text-align: center;
}

.chat .chatWrapper .messages .messageBody {
    height: calc(100% - 148px);
    position: relative;
}

.chat .chatWrapper .messages .messageBody .messageContent {
    height: 100%;
    padding: 20px;
    overflow-y: auto;
    background-color: #fff;
}

.chat .chatWrapper .messages .messageBody .messageContent .messageView {
    display: flex;
}

.chat .chatWrapper .messages .messageBody .messageContent .messageView .msgsWrapper {
    width: 100%;
}

.chat .chatWrapper .messages .messageBody .messageContent .messageView .userInfo {
    margin: 0;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    margin-right: 20px;
}

.chat .chatWrapper .messages .messageBody .messageContent .messageView .userInfo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.chat .chatWrapper .messages .messageBody .messageSend {
    height: 73px;
    border-top: 1px solid rgba(113, 127, 145, 0.2);
    position: relative;
}

.chat .chatWrapper .messages .messageBody .messageSend textarea {
    padding: 14.5px 20px;
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    resize: none;
    outline: none;
}

.chat .chatWrapper .messages .messageBody .messageSend button {
    position: absolute;
    right: 30px;
    top: -17px;
    width: 40px;
    height: 40px;
    background: #00B488;
    color: #fff;
    border-radius: 50%;
    border: none;
}

.chat .chatWrapper .messages .messageBody .messageSend button svg {
    width: 26px;
    transform: rotate(80deg);
}