.commentsArea {
    border-top: 1px solid rgba(113, 127, 145, 0.2);
    padding: 20px 20px 30px;
}

.commentsArea .commentsOff {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #717f91;
    margin: 0 0 20px;
    background: #f3f4f6;
    border-radius: 6px;
    padding: 2px 15px;
}

.commentsArea .commentsOff .icon {
    display: flex;
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #717f91;
    margin-right: 10px;
}

.commentsArea .commentsOff .icon svg {
    width: 25px;
}

.createComment form {
    display: flex;
}

.createComment .imgPlace a {
    display: block;
}

.createComment .imgPlace a img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

.createComment .commentBody {
    width: 100%;
    position: relative;
    display: flex;
}

.createComment .commentBody textarea {
    background: #f3f4f6;
    border: none;
    border-radius: 6px;
    resize: none;
    width: 100%;
    padding: 10px;
    height: 50px;
    min-height: 50px;
    max-height: 200px;
    outline: none;
    transition: .3s ease-in-out;
    padding-right: 60px;
}

.createComment .commentBody textarea.bodyStyleClass {
    height: 100px;
    transition: .3s ease-in-out;
}

.createComment .commentBody button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    border-radius: 50%;
    background: #00B488;
    color: #fff;
    position: absolute;
    right: 23px;
    bottom: -19px;
    border: 4px solid #fff;
    transition: .3s ease-in-out;
}

.createComment .commentBody button svg {
    width: 19px;
    transform: rotate(80deg);
}

.createComment .commentBody button:disabled {
    background: #808080 !important;
}

.createComment .commentBody button:hover {
    background: #01a078;
    transition: .3s ease-in-out;
}

.commentView {
    display: flex;
    margin-top: 20px;
}

.commentView .userImg {
    margin-top: 8px;
}

.commentView .userImg a {
    display: block;
}

.commentView .userImg a img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

.commentBox {
    width: 100%;
}

.commentBox span {
    display: block;
    font-size: 12px;
    margin-top: 5px;
}

.commentView .commentDesc {
    background: #f3f4f6;
    padding: 10px;
    border-radius: 6px;
    width: 100%;
}

.commentView .commentDesc a {
    display: inline-block;
}

.commentView .commentDesc a h6 {
    color: #00B488;
    font-size: 15px;
    margin-bottom: 3px;
}

.commentView .commentDesc p {
    margin-bottom: 0;
    font-size: 15px;
}

.commentView .commentDesc span {
    display: block;
    font-size: 12px;
    margin-top: 2px;
}