.followUser {
    margin-top: 35px;
}


.followUser .profileLink {
    display: block;
    margin-top: 15px;
}

.followUser .profileLink img {
    border-radius: 6px;
}

.followUser .profileLink span {
    display: block;
    font-size: 14px;
    color: #333;
    font-weight: 500;
    margin-top: 5px;
}