.followUser {
    padding: 20px;
    padding-top: 0;
}


.followUser .profileLink {
    display: block;
    margin-top: 15px;
}

.followUser .profileLink img {
    border-radius: 6px;
    height: 109px;
}

.followUser .profileLink span {
    display: block;
    font-size: 15px;
    color: #333;
    font-weight: 500;
    margin-top: 5px;
}